In [ ]:

      ###Theoritical quetions###

In [ ]:
#(1) What are data structures, and why are they important?
#Ans-Data structures are ways of organizing and storing data in a computer so that it can be accessed and manipulated efficiently.

In [ ]:
#(2) Explain the difference between mutable and immutable data types with examples.
#Ans- mutable data type:A mutable data type is one whose value can be changed after the object is created.
#for example:list, dictionery, sets
#my_list = [1, 2, 3]
my_list[0] = 10   # Change an element
my_list.append(4)  # Add an element
my_list.remove(2)  # Remove an element
print(my_list)  # Output: [10, 3, 4]


#immutable data type: An immutable data type is one whose value cannot be changed after the object is created.
#for example:Strings, tupples
my_tuple = (1, 2, 3)
my_tuple[0] = 10  # This will raise an error!
print(my_tuple)   # Output: (1, 2, 3)

In [ ]:
#(3) What are the main differences between lists and tuples in Python?
#Ans- In Python, both lists and tuples are used to store collections of items, but they have several key differences in terms of mutability.
# Mutability

List: Lists are mutable, meaning you can modify their contents after creation (add, remove, or change elements).

Tuple: Tuples are immutable, meaning once they are created, their contents cannot be changed. You cannot add, remove, or modify elements in a tuple.

In [ ]:
#(4) Describe how dictionaries store data?
#Ans-Dictionaries in Python store data using a hash table or hash map structure. This allows them to provide efficient lookups, insertions, and deletions based on keys.

In [ ]:
#(5) Why might you use a set instead of a list in Python?
#Ans- Using a set instead of a list in Python can be beneficial in certain scenarios. Here are the main reasons why you might choose a set over a list:

1.Uniqueness of Elements
2.no ordering
3.faster removal of items

In [ ]:
#(6) What is a string in Python, and how is it different from a list?
#Ans- A string in Python is a sequence of characters enclosed in single quotes ('), double quotes ("), or triple quotes (''' or """) for multi-line strings. Strings are used to store text-based data such as names, sentences, or any sequence of characters.

In [ ]:
#(7) How do tuples ensure data integrity in Python?
#Ans- In Python, tuples ensure data integrity through their immutability. This means that once a tuple is created, its contents cannot be changed, added to, or removed. This characteristic of immutability helps to preserve the data within the tuple and prevent accidental or unintended modifications, thus ensuring data integrity.

In [ ]:
#(8) What is a hash table, and how does it relate to dictionaries in Python?
#Ans- A hash table is a data structure that stores key-value pairs and allows for efficient retrieval of values based on their associated keys. It works by using a hash function to compute an index (also known as a hash) for each key. This index points to the location where the value is stored in an array or list. Hash tables are designed for fast lookup, insertion, and deletion operations, with an average time complexity of O(1) for these operations.

In [ ]:
#(9) Can lists contain different data types in Python?
#Ans- Yes, lists in Python can contain different data types. Unlike some other programming languages, Python lists are heterogeneous data structures, meaning they can store items of various types, such as integers, strings, floats, booleans, other lists, objects, and even custom types.

In [ ]:
#(10) Explain why strings are immutable in Python?
#Ans- In Python, strings are immutable, meaning that once a string is created, its contents cannot be changed. There are several reasons for this design choice, which impact performance, consistency, and overall behavior of the language.

In [ ]:
#(11) What advantages do dictionaries offer over lists for certain tasks?
#Ans- Dictionaries in Python offer several distinct advantages over lists for certain tasks, particularly when you need to efficiently store and retrieve data using unique keys. Below are the key advantages that dictionaries have over lists, and the scenarios where they are more suitable:
1.efficient lookups by key.
2.key value pair storage.
3.faster updates and modifications.
4.Use in Complex Data Structures

In [ ]:
#(12) Describe a scenario where using a tuple would be preferable over a list.
#Ans- Tuples are preferable over lists in situations where immutability, performance, and data integrity are important. Here’s a scenario where using a tuple would be more appropriate than a list:


# Using a tuple to store coordinates
player_position = (100, 200)  # (x, y) coordinates
print(player_position)

# Trying to modify the tuple (this would raise an error)
# player_position[0] = 150  # TypeError: 'tuple' object does not support item assignment

# Instead, if you need to change the position, you would create a new tuple:
player_position = (150, 200)
print(player_position)  # Output: (150, 200)

In [ ]:
#(13) How do sets handle duplicate values in Python?
#Ans- In Python, sets are unordered collections that do not allow duplicate values. This means that if you attempt to add a duplicate value to a set, it will automatically be ignored. Sets are designed to store only unique elements and will only retain one occurrence of each item.

In [ ]:
#(14) How does the “in” keyword work differently for lists and dictionaries?
#Ans- The in keyword in Python is used to check for membership (i.e., whether a certain element exists) in a data structure, but its behavior differs between lists and dictionaries due to their distinct underlying structures.

In [ ]:
#(15) Can you modify the elements of a tuple? Explain why or why not.
#Ans- No, you cannot modify the elements of a tuple after it has been created. This is because tuples in Python are immutable. Once a tuple is created, its elements are fixed and cannot be changed, added, or removed.

In [ ]:
#(16) What is a nested dictionary, and give an example of its use case?
#Ans- A nested dictionary in Python is a dictionary where the values are themselves dictionaries. In other words, it’s a dictionary that contains one or more dictionaries as its values.

In [ ]:
#(17)  Describe the time complexity of accessing elements in a dictionary?
#Ans- The time complexity of accessing elements in a dictionary in Python is O(1), also known as constant time.

In [ ]:
#(18)  In what situations are lists preferred over dictionaries.
#Ans- While dictionaries are highly efficient for key-value lookups, there are certain situations where lists are preferred over dictionaries.
1.order matters
2.Indexed Access to Elements

In [ ]:
#(19) Why are dictionaries considered unordered, and how does that affect data retrieval?
#Ans- Dictionaries in Python are often described as unordered because, prior to Python 3.7, they did not guarantee any specific order for the elements (key-value pairs) that they contained. However, starting from Python 3.7, dictionaries preserve insertion order, meaning they maintain the order in which items are added.

In [ ]:
#(20)  Explain the difference between a list and a dictionary in terms of data retrieval.
#Ans- The primary difference between a list and a dictionary in terms of data retrieval is the way data is stored and accessed:

1. Access Mechanism
2. time complexity
3. order
4. data retrivel types

In [ ]:


     ###Practical Questions###

In [1]:
#(1) Write a code to create a string with your name and print itP
#Ans- # Creating a string with my name
my_name = "SAHIL"


print(my_name)

SAHIL

In [2]:
#(2)Write a code to find the length of the string "Hello World".
#Ans-
my_string = "Hello World"
length = len(my_string)
print(length)

11

In [4]:
#(3)Write a code to slice the first 3 characters from the string "Python Programming".
#Ans-
my_string = "Python Programming"
sliced_string = my_string[:3]
print(sliced_string)

Pyt

In [5]:
#(4) Write a code to convert the string "hello" to uppercase.
#Ans-
my_sting = "hello"
uppercase_string = my_string.upper()
print(uppercase_string)

PYTHON PROGRAMMING

In [9]:
#(5) Write a code to replace the word "apple" with "orange" in the string "I like apple".
#Ans-
my_string = "i like apple"
replaced_string = my_string.replace("apple","orange")
print(replaced_string)

i like orange

In [10]:
#(6)  Write a code to create a list with numbers 1 to 5 and print it.
#Ans-
my_list=[1,2,3,4,5]
print(my_list)

[1, 2, 3, 4, 5]

In [11]:
#(7) Write a code to append the number 10 to the list [1, 2, 3, 4]
#Ans-
my_list = [1,2,3,4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

In [12]:
#(8) Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
#Ans-
my_list = [1,2,3,4,5]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

In [15]:
#(9) Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
#Ans-
my_list = ['a', 'b', 'c', 'd']
second_element = my_list[1]
print(second_element)

b

In [16]:
#(10) Write a code to reverse the list [10, 20, 30, 40, 50].
#Ans-
my_list = [10, 20, 30, 40, 50]
my_list.reverse()
print(my_list)

[50, 40, 30, 20, 10]

In [17]:
#(11)  Write a code to create a tuple with the elements 100, 200, 300 and print it.
#Ans-
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

In [21]:
#(12) Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
#Ans-
my_tuple = ("red", "green", "blue", "yellow")
second_to_last_element = my_tuple[-2]
print(second_to_last_element)

blue

In [23]:
#(13) Write a code to find the minimum number in the tuple (10, 20, 5, 15).
#Ans-
my_tuple = (10, 20, 5, 15)
minimum_number = min(my_tuple)
print(minimum_number)

5

In [24]:
#(14) Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
#Ans-
my_tuple = ('dog', 'cat', 'rabbit')
index = my_tuple.index("cat")
print(index)

1

In [25]:
#(15) Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
#Ans-
my_tuple = ("apple", "banana", "cherry")
if "kiwi" in my_tuple:
    print("kiwi is in the tuple")
else:
    print("kiwi is not in the tuple")

kiwi is not in the tuple

In [26]:
#(16) Write a code to create a set with the elements 'a', 'b', 'c' and print it.
#Ans-
my_set = {'a','b','c'}
print(my_set)

{'c', 'a', 'b'}

In [27]:
#(17) Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
#Ans-
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

In [28]:
#(18)  Write a code to remove the element 4 from the set {1, 2, 3, 4}.
#Ans-
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

In [29]:
#(19) Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
#Ans-
set1 =  {1, 2, 3}
set2 =  {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

In [30]:
#(20) Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
#Ans-
set1 = {1,2,3}
set2 = {2,3,4}
intersection_set = set1.intersection(set2)
print(intersection_set)

{2, 3}

In [31]:
#(21)  Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
#Ans-
my_dict = {
    "name": "John",
    "age": 30,
    "city": "New York"
}

print(my_dict)

{'name': 'John', 'age': 30, 'city': 'New York'}

In [33]:
#(22) Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
#Ans-
my_dict = {'name': 'john', 'age': 25}
my_dict["country"] = "USA"
print(my_dict)

{'name': 'john', 'age': 25, 'country': 'USA'}

In [35]:
#(23) Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
#Ans-
my_dict = {'name': 'Alice', 'age': 30}
name_value = my_dict["name"]
print(name_value)

Alice

In [36]:
#(24) Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
#Ans-
my_dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del my_dict["age"]
print(my_dict)

{'name': 'Bob', 'city': 'New York'}

In [37]:
#(25) Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
#Ans-
my_dict = {'name':'Alice', 'city': 'Paris'}
if "city" in my_dict:
    print("city key exists in the dictionary")
else:
    print("city key does not exist in the dictionary")

city key exists in the dictionary

In [38]:
#(26) Write a code to create a list, a tuple, and a dictionary, and print them all.
#Ans-
my_list = [1, 2, 3, 4, 5]
my_tuple = (10, 20, 30, 40, 50)
my_dict = {'name': 'John', 'age': 30, 'city': 'New York'}

print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: (10, 20, 30, 40, 50)
Dictionary: {'name': 'John', 'age': 30, 'city': 'New York'}

In [44]:
#(27)  Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
#Ans-
import random

random_numbers = [random.randint(1,100) for _ in range(5)]
random_numbers.sort()
print(random_numbers)
#

[17, 32, 40, 53, 95]

In [45]:
#(28) Write a code to create a list with strings and print the element at the third index.
#Ans-
my_list = ["apple", "banana", "cherry", "date", "elderberry"]
third_element = my_list[2]
print(third_element)

cherry

In [47]:
#(29) Write a code to combine two dictionaries into one and print the result.
#Ans-
dict1 = {'a' : 1, 'b' : 2}
dict2 = {'c' : 3, 'd' : 4}
combined_dict = {**dict1, **dict2}
print(combined_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [48]:
#(30) Write a code to convert a list of strings into a set.
#Ans-
my_list = ["apple", "banana", "cherry", "date", "elderberry"]
my_set = set(my_list)
print(my_set)

{'elderberry', 'cherry', 'banana', 'date', 'apple'}